In [21]:
import pandas as pd
from datetime import datetime

## Read in Chandris & Century Procurement data

In [22]:
chandris = pd.read_excel("Procurement Ledger 2022_per vessel.xlsx", sheet_name="CHANDRIS").drop(['Vendor Sector No', 'Vendor Sector Description', 'Currency Conversion Rate (Currency to USD)', 'Amount'], axis = 1)
century = pd.read_excel("Procurement Ledger 2022_per vessel.xlsx", sheet_name="CENTURY").drop(['Vendor Sector No', 'Currency Conversion Rate', 'Amount'], axis = 1)

## Check it

In [23]:
chandris.head()

,Posting Date,Vendor Name,Column2,Country_Region Code,Currency Code,Column1,Vessel Name
0,2022-07-08,UNION OF GREEK SHIPOWNERS,"Activities of business,employers & prof organ.",GR,EUR,3688.30,M/T ALTHEA
1,2022-01-28,INTERTANKO,"Activities of business,employers & prof organ.",NO,USD,2468.82,M/T SESTREA
2,2022-01-24,INTERNATIONAL MARITIME EMPLOYERS' COUNCIL LIMI...,"Activities of business,employers & prof organ.",GB,USD,660.00,M/T SESTREA
3,2022-08-17,INTERNATIONAL MARITIME EMPLOYERS' COUNCIL LIMI...,"Activities of business,employers & prof organ.",GB,USD,660.00,M/T SESTREA
4,2022-04-08,INTERNATIONAL MARITIME EMPLOYERS' COUNCIL LIMI...,"Activities of business,employers & prof organ.",GB,USD,660.00,M/T SESTREA

In [24]:
chandris.loc[[2375], ['Country_Region Code']] = 'GB'

In [25]:
chandris[(chandris['Country_Region Code'].isnull() == True) & (chandris['Column2'] != "z-NULL")]

Empty DataFrame
Columns: [Posting Date, Vendor Name, Column2, Country_Region Code, Currency Code, Column1, Vessel Name]
Index: []

In [26]:
chandris['Currency'] = 'USD'
century['Currency'] = 'USD'

In [27]:
# first is to create a column with all country-sectors
chandris['country-sectors'] = chandris['Column2'] + " - " + chandris['Country_Region Code']
century['country-sectors'] = century['Column2'] + " - " + century['Country_Region Code']

# Separate Vessels into Own DataFrames - Chandris

In [28]:
ALTHEA = chandris[chandris['Vessel Name'] == 'M/T ALTHEA']
SESTREA = chandris[chandris['Vessel Name'] == 'M/T SESTREA']
AKTEA = chandris[chandris['Vessel Name'] == 'M/T AKTEA']
AEGEA = chandris[chandris['Vessel Name'] == 'M/T AEGEA']
ASTREA = chandris[chandris['Vessel Name'] == 'M/T ASTREA']
AQUASMERALDA = chandris[chandris['Vessel Name'] == 'M/T AQUASMERALDA']
AUSTRALIS = chandris[chandris['Vessel Name'] == 'M/T AUSTRALIS']
ALIAI = chandris[chandris['Vessel Name'] == 'M/T ALIAI']
OCEANIS = chandris[chandris['Vessel Name'] == 'M/T OCEANIS']
ELLINIS = chandris[chandris['Vessel Name'] == 'M/T ELLINIS']
SERENEA = chandris[chandris['Vessel Name'] == 'M/T SERENEA']
ARETEA = chandris[chandris['Vessel Name'] == 'M/T ARETEA']
ATHINEA = chandris[chandris['Vessel Name'] == 'M/T ATHINEA']
ARISTEA = chandris[chandris['Vessel Name'] == 'M/T ARISTEA']
AMARTHEA = chandris[chandris['Vessel Name'] == 'M/T AMARTHEA']
ALKEA = chandris[chandris['Vessel Name'] == 'M/T ALKEA']

## Separate Vessels into their own dataframes - Century

In [29]:
MARIETTA = century[century['Vessel Name'] == 'M/V MARIETTA']
MYRTO = century[century['Vessel Name'] == 'M/V MYRTO']
DONA_BIBI = century[century['Vessel Name'] == 'M/V DONA BIBI']
MARIPERLA = century[century['Vessel Name'] == 'M/V MARIPERLA']
SERENE_AMELIA = century[century['Vessel Name'] == 'M/V SERENE AMELIA']
MARIVICTORIA = century[century['Vessel Name'] == 'M/V MARIVICTORIA']
DONA_TARA = century[century['Vessel Name'] == 'M/V DONA TARA']
MARIJEANNIE = century[century['Vessel Name'] == 'M/V MARIJEANNIE']
MARIBELLA = century[century['Vessel Name'] == 'M/V MARIBELLA']
MARINICKI = century[century['Vessel Name'] == 'M/V MARINICKI']
NANA_Z = century[century['Vessel Name'] == 'M/V NANA Z']
SERENE_JUNIPER = century[century['Vessel Name'] == 'M/V SERENE JUNIPER']
SERENE_THEODORA = century[century['Vessel Name'] == 'M/V SERENE THEODORA']
SERENE_JESSICA = century[century['Vessel Name'] == 'M/V SERENE JESSICA']
MARILOULA = century[century['Vessel Name'] == 'M/V MARILOULA']
CLAIRE_Z = century[century['Vessel Name'] == 'M/V CLAIRE Z']

## Redistributed 'NULL' Spend

In order to do this, I need to multiply the sum of spend where sector is null by the sum of spend for each country sector divided by the sum of spend where sector is not null.

pseudo code:

sum_null_spend = spend[null].sum()

sum_not_null_spend = spend[not null].sum()

country-sector pairings = list of unique occurences of country sector pairings

for pairing in country-sector pairings:

other spend = sum_null_spend * (sum_pairing_spend/sum_non_null_spend)

## Create Function to Redistribute Other Spend

In [30]:
# # def other_spend_redistributer(DataFrame):
# chandris_other_spend = {}
# # for loop through unique country sector pairings where sectro is not null
# for i in chandris[chandris['Column2'] != 'z-NULL']['country-sectors'].unique():
#     # sum of spend where sector is not null
#     non_null_spend = chandris[chandris['Column2'] != 'z-NULL']['Column1'].sum()
#     # sum of spend in particular country-sector
#     cs_spend = chandris[chandris['country-sectors'] == i]['Column1'].sum()
#     # sum of spend where sector is null
#     null_spend = chandris[chandris['Column2'] == 'z-NULL']['Column1'].sum()
#     # distributed null spend
#     distributed_null_spend = null_spend * (cs_spend/non_null_spend)
#     # have two cols and a row that has the country-sector and its reditributed spend
#     chandris_other_spend['country-sectors'] = i
#     chandris_other_spend['spend'] = distributed_null_spend

In [31]:
AEGEA[AEGEA['country-sectors'].isnull() == True]

Empty DataFrame
Columns: [Posting Date, Vendor Name, Column2, Country_Region Code, Currency Code, Column1, Vessel Name, Currency, country-sectors]
Index: []

In [32]:
chandris[chandris['Column2'] != 'z-NULL']['country-sectors'].unique()

array(['Activities of business,employers & prof organ. - GR',
       'Activities of business,employers & prof organ. - NO',
       'Activities of business,employers & prof organ. - GB',
       'All other misc professional,scientific & tech serv - GR',
       'All other misc professional,scientific & tech serv - CA',
       'All other misc professional,scientific & tech serv - US',
       'All other misc professional,scientific & tech serv - SC',
       'All other misc professional,scientific & tech serv - HK',
       'All other misc professional,scientific & tech serv - GB',
       'All other misc professional,scientific & tech serv - FR',
       'Courier activities other than national post act - GR',
       'Custom computer programming services - GR',
       'Custom computer programming services - DK', 'Education - GR',
       'Environmental and other technical consulting serv. - MT',
       'Financial intermediation,expt insur. & pensions - GR',
       'Freight air transport - CY', 'Freight air transport - AU',
       'Freight air transport - GR', 'Freight Ocean Transport - GR',
       'Hotels and motels, with restaurant (licensed) - GR',
       'Insurance, reinsurance & pension funding, except - BM',
       'Insurance, reinsurance & pension funding, except - GB',
       'Insurance, reinsurance & pension funding, except - CY',
       'Insurance, reinsurance & pension funding, except - GR',
       'Investigation and security activities - CY',
       'Labour recruitment and provision of personnel - MH',
       'Legal activities (Market) - GB', 'Local government - MT',
       'Local government - LR',
       'Manufacture of basic pharmaceuticals - US',
       'Manufacture of basic pharmaceuticals - GR',
       'Manufacture of chemicals and chemical products - GB',
       'Manufacture of chemicals and chemical products - NO',
       'Manufacture of chemicals and chemical products - PA',
       'Manufacture of chemicals and chemical products - GR',
       'Manufacture of chemicals and chemical products - US',
       'Manufacture of chemicals and chemical products - DK',
       'Manufacture of chemicals and chemical products - CY',
       'Manufacture of chemicals and chemical products - AE',
       'Manufacture of coke,refined petroleum prod,nuclear - GB',
       'Manufacture of coke,refined petroleum prod,nuclear - AE',
       'Manufacture of coke,refined petroleum prod,nuclear - MC',
       'Manufacture of coke,refined petroleum prod,nuclear - CY',
       'Manufacture of coke,refined petroleum prod,nuclear - DK',
       'Manufacture of food products and beverages - US',
       'Manufacture of food products and beverages - GI',
       'Manufacture of food products and beverages - EC',
       'Manufacture of machinery & equipment n.e.c. - GR',
       'Manufacture of machinery & equipment n.e.c. - CH',
       'Manufacture of machinery & equipment n.e.c. - JP',
       'Manufacture of machinery & equipment n.e.c. - DK',
       'Manufacture of machinery & equipment n.e.c. - CY',
       'Manufacture of machinery & equipment n.e.c. - NL',
       'Manufacture of machinery & equipment n.e.c. - ZA',
       'Manufacture of machinery & equipment n.e.c. - NO',
       'Manufacture of machinery & equipment n.e.c. - KR',
       'Manufacture of machinery & equipment n.e.c. - SG',
       'Manufacture of machinery & equipment n.e.c. - DE',
       'Manufacture of machinery & equipment n.e.c. - GB',
       'Manufacture of machinery & equipment n.e.c. - CN',
       'Manufacture of machinery & equipment n.e.c. - BE',
       'Manufacture of machinery & equipment n.e.c. - SE',
       'Manufacture of machinery & equipment n.e.c. - KP',
       'Manufacture of machinery & equipment n.e.c. - HK',
       'Manufacture of machinery & equipment n.e.c. - IT',
       'Manufacture of machinery & equipment n.e.c. - FR',
       'Manufacture of machinery & equipment n.e.c. - LR',
       'Manufacture of other transport equipment - GR',
       'Manufacture of other transport equipment - KR',
       'Manufacture of other transport equipment - DE',
       'Market travel agency services - GR',
       'Office supplies (except paper) manufacturing - GR',
       'Other human health activities - GR',
       'Other information services - CY', 'Other support services - JP',
       'Other support services - NL', 'Other support services - HK',
       'Other support services - CY', 'Other support services - MH',
       'Other support services - GR', 'Other support services - KR',
       'Other support services - US', 'Other support services - PH',
       'Other support services - CN', 'Other support services - GB',
       'Other support services - DK', 'Other support services - SG',
       'Other support services - DE', 'Other support services - AE',
       'Other support services - NO', 'Other support services - BR',
       'Other support services - HR', 'Other support services - KP',
       'Other support services - LR', 'Other support services - IT',
       'Other support services - IL', 'Other support services - BE',
       'Other support services - FR', 'Other support services - CA',
       'Other support services - UA', 'Other support services - BG',
       'Other support services - AU', 'Other support services - IN',
       'Other support services - FI', 'Other support services - VG',
       'Other supporting water transport activities - FR',
       'Other supporting water transport activities - GB',
       'Other supporting water transport activities - PH',
       'Other supporting water transport activities - BR',
       'Other supporting water transport activities - MT',
       'Other supporting water transport activities - US',
       'Other supporting water transport activities - CO',
       'Other supporting water transport activities - AU',
       'Other supporting water transport activities - SA',
       'Other supporting water transport activities - BE',
       'Other supporting water transport activities - TT',
       'Other supporting water transport activities - GT',
       'Other supporting water transport activities - DK',
       'Other supporting water transport activities - IT',
       'Other supporting water transport activities - SV',
       'Other supporting water transport activities - ES',
       'Other supporting water transport activities - HN',
       'Other supporting water transport activities - NL',
       'Other supporting water transport activities - RU',
       'Other supporting water transport activities - SG',
       'Other supporting water transport activities - HR',
       'Other supporting water transport activities - ID',
       'Other supporting water transport activities - EG',
       'Other supporting water transport activities - CL',
       'Other supporting water transport activities - KR',
       'Other supporting water transport activities - NO',
       'Other supporting water transport activities - IL',
       'Other supporting water transport activities - GR',
       'Other supporting water transport activities - CY',
       'Other supporting water transport activities - CH',
       'Other supporting water transport activities - MX',
       'Other supporting water transport activities - IN',
       'Other supporting water transport activities - TH',
       'Other supporting water transport activities - TG',
       'Other supporting water transport activities - LK',
       'Other telecommunication - GR', 'Paints - BE', 'Paints - GR',
       'Retail trade,except of motor vehicles & motorcycle - JP',
       'Retail trade,except of motor vehicles & motorcycle - ZA',
       'Retail trade,except of motor vehicles & motorcycle - PA',
       'Retail trade,except of motor vehicles & motorcycle - TR',
       'Retail trade,except of motor vehicles & motorcycle - GR',
       'Retail trade,except of motor vehicles & motorcycle - KR',
       'Retail trade,except of motor vehicles & motorcycle - NL',
       'Retail trade,except of motor vehicles & motorcycle - US',
       'Retail trade,except of motor vehicles & motorcycle - SG',
       'Retail trade,except of motor vehicles & motorcycle - AE',
       'Retail trade,except of motor vehicles & motorcycle - CN',
       'Retail trade,except of motor vehicles & motorcycle - AR',
       'Retail trade,except of motor vehicles & motorcycle - BR',
       'Retail trade,except of motor vehicles & motorcycle - AU',
       'Retail trade,except of motor vehicles & motorcycle - IN',
       'Retail trade,except of motor vehicles & motorcycle - IT',
       'Retail trade,except of motor vehicles & motorcycle - ES',
       'Retail trade,except of motor vehicles & motorcycle - BE',
       'Retail trade,except of motor vehicles & motorcycle - EG',
       'Retail trade,except of motor vehicles & motorcycle - GB',
       'Retail trade,except of motor vehicles & motorcycle - EC',
       'Retail trade,except of motor vehicles & motorcycle - TG',
       'Retail trade,except of motor vehicles & motorcycle - CL',
       'Retail trade,except of motor vehicles & motorcycle - DK',
       'Retail trade,except of motor vehicles & motorcycle - CA',
       'Retail trade,except of motor vehicles & motorcycle - NO',
       'Retail trade,except of motor vehicles & motorcycle - FR',
       'Retail trade,except of motor vehicles & motorcycle - LK',
       'Retail trade,except of motor vehicles & motorcycle - IL',
       'Retail trade,except of motor vehicles & motorcycle - PT',
       'Retail trade,except of motor vehicles & motorcycle - CY',
       'Retail trade,except of motor vehicles & motorcycle - LR'],
      dtype=object)

In [33]:
def other_spend_redistributer(dataframe, spend_column_name, null_values_name, sector_columns_name):
    country_sector = []
    spend = []
# for loop through unique country sector pairings where sectro is not null
    for i in dataframe[dataframe[sector_columns_name] != null_values_name]['country-sectors'].unique():
        # sum of spend where sector is not null
        non_null_spend = dataframe[dataframe[sector_columns_name] != null_values_name][spend_column_name].sum()
        # sum of spend in particular country-sector
        cs_spend = dataframe[dataframe['country-sectors'] == i][spend_column_name].sum()
        # sum of spend where sector is null
        null_spend = dataframe[dataframe[sector_columns_name] == null_values_name][spend_column_name].sum()
        # distributed null spend
        distributed_null_spend = null_spend * (cs_spend/non_null_spend)
        # have two cols and a row that has the country-sector and its reditributed spend
        country_sector.append(i)
        spend.append(distributed_null_spend)
    return dict(zip(country_sector, spend))

## Use Function to Calculate Chandris Other Spend

In [34]:
ALTHEA_OTHER_SPEND = other_spend_redistributer(ALTHEA, "Column1", "z-NULL", "Column2") 
SESTREA_OTHER_SPEND = other_spend_redistributer(SESTREA , "Column1", "z-NULL", "Column2") 
AKTEA_OTHER_SPEND = other_spend_redistributer(AKTEA , "Column1", "z-NULL", "Column2") 
AEGEA_OTHER_SPEND = other_spend_redistributer(AEGEA , "Column1", "z-NULL", "Column2") 
ASTREA_OTHER_SPEND = other_spend_redistributer(ASTREA , "Column1", "z-NULL", "Column2") 
AQUASMERALDA_OTHER_SPEND = other_spend_redistributer(AQUASMERALDA , "Column1", "z-NULL", "Column2") 
AUSTRALIS_OTHER_SPEND = other_spend_redistributer(AUSTRALIS , "Column1", "z-NULL", "Column2") 
ALIAI_OTHER_SPEND = other_spend_redistributer(ALIAI , "Column1", "z-NULL", "Column2") 
OCEANIS_OTHER_SPEND = other_spend_redistributer(OCEANIS , "Column1", "z-NULL", "Column2") 
ELLINIS_OTHER_SPEND = other_spend_redistributer(ELLINIS, "Column1", "z-NULL", "Column2") 
SERENEA_OTHER_SPEND = other_spend_redistributer(SERENEA , "Column1", "z-NULL", "Column2") 
ARETEA_OTHER_SPEND = other_spend_redistributer(ARETEA , "Column1", "z-NULL", "Column2") 
ATHINEA_OTHER_SPEND = other_spend_redistributer(ATHINEA , "Column1", "z-NULL", "Column2") 
ARISTEA_OTHER_SPEND = other_spend_redistributer(ARISTEA , "Column1", "z-NULL", "Column2")
AMARTHEA_OTHER_SPEND = other_spend_redistributer(AMARTHEA , "Column1", "z-NULL", "Column2")
ALKEA_OTHER_SPEND = other_spend_redistributer(ALKEA, "Column1", "z-NULL", "Column2")

## Use Fucntion to Calculate Century Other Spend

In [35]:
MARIETTA_OTHER_SPEND = other_spend_redistributer(MARIETTA , "Column1", "z-NULL", "Column2") 
MYRTO_OTHER_SPEND = other_spend_redistributer(MYRTO , "Column1", "z-NULL", "Column2") 
DONA_BIBI_OTHER_SPEND = other_spend_redistributer(DONA_BIBI , "Column1", "z-NULL", "Column2")
MARIPERLA_OTHER_SPEND = other_spend_redistributer(MARIPERLA , "Column1", "z-NULL", "Column2") 
SERENE_AMELIA_OTHER_SPEND = other_spend_redistributer(SERENE_AMELIA , "Column1", "z-NULL", "Column2") 
MARIVICTORIA_OTHER_SPEND = other_spend_redistributer(MARIVICTORIA , "Column1", "z-NULL", "Column2") 
DONA_TARA_OTHER_SPEND = other_spend_redistributer(DONA_TARA , "Column1", "z-NULL", "Column2") 
MARIJEANNIE_OTHER_SPEND = other_spend_redistributer(MARIJEANNIE , "Column1", "z-NULL", "Column2")
MARIBELLA_OTHER_SPEND = other_spend_redistributer(MARIBELLA , "Column1", "z-NULL", "Column2") 
MARINICKI_OTHER_SPEND = other_spend_redistributer(MARINICKI , "Column1", "z-NULL", "Column2") 
NANA_Z_OTHER_SPEND = other_spend_redistributer(NANA_Z , "Column1", "z-NULL", "Column2") 
SERENE_JUNIPER_OTHER_SPEND = other_spend_redistributer(SERENE_JUNIPER , "Column1", "z-NULL", "Column2") 
SERENE_THEODORA_OTHER_SPEND = other_spend_redistributer(SERENE_THEODORA , "Column1", "z-NULL", "Column2") 
SERENE_JESSICA_OTHER_SPEND = other_spend_redistributer(SERENE_JESSICA , "Column1", "z-NULL", "Column2")  
MARILOULA_OTHER_SPEND = other_spend_redistributer(MARILOULA , "Column1", "z-NULL", "Column2")  
CLAIRE_Z_OTHER_SPEND = other_spend_redistributer(CLAIRE_Z , "Column1", "z-NULL", "Column2")

# Create Dictionaries of Ships and Other Spends

In [36]:
chandris_ship_list = {
"ALTHEA": [ALTHEA, ALTHEA_OTHER_SPEND],
"SESTREA": [SESTREA,SESTREA_OTHER_SPEND],
"AKTEA":[AKTEA,AKTEA_OTHER_SPEND],
"AEGEA":[AEGEA,AEGEA_OTHER_SPEND],
"ASTREA": [ASTREA,ASTREA_OTHER_SPEND],
"AQUASMERALDA":[AQUASMERALDA,AQUASMERALDA_OTHER_SPEND],
"AUSTRALIS": [AUSTRALIS,AUSTRALIS_OTHER_SPEND],
"ALIAI": [ALIAI,ALIAI_OTHER_SPEND],
"OCEANIS":[OCEANIS,OCEANIS_OTHER_SPEND],
"ELLINIS":[ELLINIS,ELLINIS_OTHER_SPEND],
"SERENEA": [SERENEA,SERENEA_OTHER_SPEND],
"ARETEA": [ARETEA,ARETEA_OTHER_SPEND],
"ATHINEA": [ATHINEA,ATHINEA_OTHER_SPEND],
"ARISTEA": [ARISTEA,ARISTEA_OTHER_SPEND],
"AMARTHEA": [AMARTHEA,AMARTHEA_OTHER_SPEND],
"ALKEA": [ALKEA,ALKEA_OTHER_SPEND],
}

In [37]:
century_ship_list = {
"MARIETTA":[MARIETTA, MARIETTA_OTHER_SPEND],
"MYRTO":[MYRTO,  MYRTO_OTHER_SPEND],
"DONA_BIBI":[DONA_BIBI, DONA_BIBI_OTHER_SPEND],
"MARIPERLA":[MARIPERLA, MARIPERLA_OTHER_SPEND],
"SERENE_AMELIA":[SERENE_AMELIA,  SERENE_AMELIA_OTHER_SPEND],
"MARIVICTORIA":[MARIVICTORIA,  MARIVICTORIA_OTHER_SPEND],
"DONA_TARA":[DONA_TARA, DONA_TARA_OTHER_SPEND],
"MARIJEANNIE":[MARIJEANNIE, MARIJEANNIE_OTHER_SPEND],
"MARIBELLA":[MARIBELLA, MARIBELLA_OTHER_SPEND],
"MARINICKI":[MARINICKI, MARINICKI_OTHER_SPEND],
"NANA_Z":[NANA_Z, NANA_Z_OTHER_SPEND],
"SERENE_JUNIPER":[SERENE_JUNIPER, SERENE_JUNIPER_OTHER_SPEND],
"SERENE_THEODORA":[SERENE_THEODORA, SERENE_THEODORA_OTHER_SPEND],
"SERENE_JESSICA":[SERENE_JESSICA, SERENE_JESSICA_OTHER_SPEND],
"MARILOULA":[MARILOULA, MARILOULA_OTHER_SPEND],
"CLAIRE_Z":[CLAIRE_Z , CLAIRE_Z_OTHER_SPEND]
}

# Concatenate Chandris Other Spend to Main Spend

In [38]:
for key, value in chandris_ship_list.items():
    CONCAT = pd.concat([value[0], pd.melt(pd.DataFrame(value[1], index=['spend']), var_name='country-sectors', value_name='Column1')])
    CONCAT = CONCAT.drop(CONCAT[CONCAT['Column2'] == 'z-NULL'].index, axis=0)
    CONCAT['Posting Date'] = CONCAT['Posting Date'].fillna(2022)
    CONCAT['Vendor Name'] = CONCAT['Vendor Name'].fillna('Other Spend (Redistributed)')
    CONCAT['Column2'] = CONCAT['country-sectors'].str.split('-', n=1).str[0]
    CONCAT['Country_Region Code'] = CONCAT['country-sectors'].str.split('-', n=1).str[1]
    CONCAT = CONCAT[['Posting Date', 'Vendor Name', 'Column2', 'Country_Region Code', 'Currency', 'Column1']]
    CONCAT.columns = ['Posting Date', 'Vendor Name', 'Sector', 'Country', 'Currency', 'Spend']
    CONCAT['Currency'] = CONCAT['Currency'].fillna('USD')
    CONCAT['Posting Date'] = 2022
    CONCAT.to_csv(f"{key}_redistributed.csv", index=False)

# Concatenate Century Other Spend to Main Spend

In [39]:
for key, value in century_ship_list.items():
    CONCAT = pd.concat([value[0], pd.melt(pd.DataFrame(value[1], index=['spend']), var_name='country-sectors', value_name='Column1')])
    CONCAT = CONCAT.drop(CONCAT[CONCAT['Column2'] == 'z-NULL'].index, axis=0)
    CONCAT['Posting Date'] = CONCAT['Posting Date'].fillna(2022)
    CONCAT['Vendor Name'] = CONCAT['Vendor Name'].fillna('Other Spend (Redistributed)')
    CONCAT['Column2'] = CONCAT['country-sectors'].str.split('-', n=1).str[0]
    CONCAT['Country_Region Code'] = CONCAT['country-sectors'].str.split('-', n=1).str[1]
    CONCAT = CONCAT[['Posting Date', 'Vendor Name', 'Column2', 'Country_Region Code', 'Currency', 'Column1']]
    CONCAT.columns = ['Posting Date', 'Vendor Name', 'Sector', 'Country', 'Currency', 'Spend']
    CONCAT['Currency'] = CONCAT['Currency'].fillna('USD')
    CONCAT['Posting Date'] = 2022
    CONCAT.to_csv(f"{key}_redistributed.csv", index=False)